body{
    background-color: #FBFEF9;
    color: #222222;
}

a {
    text-decoration: none;
}

/* Colors
#133C55- indigo dye
#386FA4 - queen blue
#59A5D8 - Carolina Blue
#FBFEF9 - BABY POWDER
#A63446 - BIG DIP ORUBY
*/


/* Nav bar Design */
.navbar-light{
    background-color: #386FA4;
    color: #FBFEF9;
}

/* Register Design  */
#pageHeader{
    margin-bottom: 50px;
}

.cardContainer{
    margin:auto;
    /* background-color: pink; */
    width: 650px;
    height: auto;
    padding: 20px;
    box-shadow: 0px 1px 1px rgba(19, 60, 85, 0.075) inset, 0px 0px 8px rgba(56, 111, 164, 0.5);
}

.form-control:focus {
    border-color: #386FA4;
    box-shadow: 0px 1px 1px rgba(19, 60, 85, 0.075) inset, 0px 0px 8px rgba(56, 111, 164, 0.5);
}

#passwordHelpInline {
    font-size: 11px;
}

#passwordIcon:hover {
    cursor: pointer;
}

.text-info {
    color: #386FA4;
}

.btn-primary {
    padding-top:5px;
    background-color: #133C55;
    color: #FBFEF9;
    border: none;
}

.btn-primary:hover {
    color: #133C55;
    background-color: #FBFEF9;
    border: 2px solid #133C55;
}

.btn-primary:focus {
    color: #133C55;
    background-color: #FBFEF9;
    border: 2px solid #133C55;
}

.btn-primary:active {
    color: #133C55;
    background-color: #FBFEF9;
    border: 2px solid #133C55;
}

/* Admin users styles */
.fa-solid:hover{
    cursor:pointer;
}
.icon-button{
    text-decoration: none;
}

.server-message{
    border: 3px solid #ccc;
    border-radius: 15px;
}